/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "includes/cornix54.h"

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define NUM   1
#define SYS   2
#define NAVI  3
#define WS    4

/ {
    macros {
        super_ws: super_ws {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LGUI &sl WS>;
        };

        alt_ws: alt_ws {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LALT &sl WS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_super_ws {
            bindings = <&super_ws>;
            key-positions = <LH2 LM5>;
            timeout-ms = <200>;
        };

        combo_alt_ws {
            bindings = <&alt_ws>;
            key-positions = <LP0 LM5>;
            timeout-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T                              &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G                              &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp APOS
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B      &kp C_MUTE  &kp C_MUTE  &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp BSLH
&kp LCTRL  &mo NAVI  &kp LALT  &kp LGUI  &mo NUM  &kp SPACE               &kp SPACE  &mo SYS  &kp RALT  &kp RSHFT  &kp DEL  &kp ENTER
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        num_layer {
            display-name = "Num";
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                      &kp N6    &kp N7    &kp N8    &kp N9     &kp N0    &kp BSPC
&trans     &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                      &kp F6    &kp F7    &kp F8    &kp F9     &kp F10   &kp EQUAL
&kp CAPS   &kp F11 &kp F12 &trans  &trans  &trans  &trans    &trans     &trans    &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT &kp MINUS
&trans     &trans  &trans  &trans  &trans  &trans                       &trans    &trans    &trans    &trans     &trans    &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        sys_layer {
            display-name = "Sys";
            bindings = <
&kp TILDE  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &trans  &trans    &trans    &trans     &trans     &trans
&trans     &bt BT_CLR    &bt BT_CLR_ALL &out OUT_USB  &out OUT_BLE  &trans                         &trans  &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT  &trans
&trans     &sys_reset    &trans         &bootloader   &trans        &trans        &trans  &trans    &trans  &trans    &trans    &trans     &trans     &trans
&trans     &trans        &trans         &trans        &trans        &trans                          &trans  &trans    &trans    &trans     &trans     &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        navi_layer {
            display-name = "Navi";
            bindings = <
&none  &none     &none     &none   &none      &none                   &none     &none     &none     &none      &none  &none
&none  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none                   &none     &none     &none     &none      &none  &none
&none  &kp HOME  &kp PG_DN &kp PG_UP &kp END  &none  &trans  &trans   &none     &none     &none     &none      &none  &none
&none  &none     &trans    &none   &none      &none                   &none     &none     &none     &none      &none  &none
            >;
        };

        ws_layer {
            display-name = "WS";
            bindings = <
&none  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                  &none  &none  &none  &none  &none  &none
&none  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0                  &none  &none  &none  &none  &none  &none
&none  &none   &none   &none   &none   &none   &none   &none    &none  &none  &none  &none  &none  &none
&none  &none   &none   &none   &none   &none                    &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
